<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>All Tweets</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
	crossorigin="anonymous"></script>
	
<script type="text/javascript">
function clearSearch(){
	window.location = "[[@{/twitter/tweets}]]";	
}
</script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" th:href="@{/twitter/user/{userName}(userName=${userName})}">@<span th:text="${userName}"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" th:href="@{/twitter/user/{userName}/tweet(userName=${userName})}">Tweet</a>
      <a class="nav-link active" th:href="@{/twitter/user/{userName}/tweets(userName=${userName})}">See Tweets</a>
      <a class="nav-link active" th:href="@{/twitter/tweets}">See All Tweets</a>
      <a class="nav-link active" th:href="@{/twitter/trending}">Trending</a>
    </div>
  </div>
</nav>

	<div class="container">
		
		<div class="jumbotron">
			
			<h2 class="display-6">All Tweets</h2>
			<br>
			<form th:action="@{/twitter/tweets}">
			<div  class="form-group row">
			
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			&nbsp;
			<label for="keyword" class="col-form-label">Filter:</label> 
			
			<div class="col-sm-3">	
			<input type="text" class="form-control" placeholder="First name" name="keyword" id="keyword" size="50" th:value="${keyword}" required/>
			</div>
			
			<div class="col-sm-3">
			<input type="submit" class="btn btn-primary btn-block" value="Search"/>
			</div>
			
			<div class="col-sm-3">
			<input type="button" class="btn btn-primary btn-block" value="Clear" id="btnClear" onclick="clearSearch()"/>
			</div>
			
			</div>
			
			
			</form>
		
			<div th:switch="${tweets}">
    			
    			<h2 th:case="null" class="display-6">No Tweets Yet!</h2>
        		<div th:case="*">
				<table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Tweet</th>
                        <th scope="col">Creation Time</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="tweet : ${tweets}">
                    <td th:text="${tweet.userName}"></td>
                    <td th:text="${tweet.tweet}"></td>
                    <td th:text="${tweet.creationTime}"></td>
                </tr>
            </tbody>
        	</table>
			</div>
			
			<br>
			<a th:href="@{/twitter/user/{userName}(userName=${userName})}" class="btn btn-primary btn-lg" role="button">Back</a>
		</div>
	
	</div>

</body>
</html>